<div class="wrapper">
  <div class="header">
    <h1 class="title">
      {{ survey.title }}
    </h1>

    <h3 class="sub-title">
      {{ survey.description }}
    </h3>
  </div>

  <div class="content">
    <mat-vertical-stepper>
      <mat-step *ngFor="let question of questionsToAnswer">
        {{ question.text }} <br />
        <mat-radio-group
          aria-label="Answer the question"
          [(ngModel)]="question.answeredId"
          (change)="answerQuestion($event, question)"
        >
          <mat-radio-button [value]="question.left">
            {{ question.leftText }}
          </mat-radio-button>
          <mat-radio-button [value]="question.right">
            {{ question.rightText }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
