.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;

  .header {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      width: fit-content;
      text-align: center;
    }

    .sub-title {
      max-width: 500px;
    }
  }

  .content {
    width: fit-content;
  }
}
